.position-absolute {
	top: -35px;
}
.position-relative {
	width: 201px;
}
textarea {
	width: 251px;
	height: 38px;
	min-height: 38px;
	max-height: 250px;
}
.btn-success {
	margin-left: 50px;
}
button {
	height: 42px !important;
	i {
		font-size: 2rem;
	}
}
